<div class='row'>
    {% for event in site.events %}
    <div class="col s12 m6 l4">
        <div class="card medium red darken-4 hoverable">
            <div class="card-image">
                <img src="{{ event.img | relative_url }}" alt="{{ event.img_alt_text | relative_url }}">
            </div>
            <div class="card-content white-text">
                <span class="card-title"> {{ event.title }}</span>
            </div>
            <div class='card-action'>
                <a href="{{ event.link | relative_url }}"> Learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>