<article class='feature-container' aria-label="Banner image" tabindex="0">

<img src="{{ site.header_feature_image | relative_url }}" alt="Banner image of a network of people icons with text on the outter edges.">
<div class="feature-text" aria-label="banner text"><h1 aria-label="{{ site.title }}"> {{ site.title }} </h1></div>

</article>