<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col s12 white-text">
    <p>Have questions or notice incorrect information? Email <a href="http://guides.lib.unc.edu/amandahenley">Amanda Henley</a>, Head of Davis Library Digital Research Services</p>
  </div>
    <div class="col s12 white-text">
      The Digital South is a collaboration between the <a href="https://library.unc.edu/"> University Libraries</a> and <a href="https://www.google.com/search?q=southern+futures&rlz=1C5CHFA_enUS886US887&oq=southern+futures&aqs=chrome..69i57.1595j0j7&sourceid=chrome&ie=UTF-8">Southern Futures</a> at the University of North Carolina at Chapel Hill.
    </div>
</div>
<div class='footer-copyright'>

   <p class=""> © 2021 The Digital South @ UNC</p>
    <a class="grey-text text-lighten-4" href="https://rolandorodriguez.dev">Created and maintained by Rolando Rodriguez</a>

</div>
</footer>