<div class="row">
    <article class='section col s10 offset-s1'>
        <h3 class='header orange-text'>
            What is the Digital South?
        </h3>
        <p class='flow-text light'>
            The Digital South is an initiative of the University Libraries at the University of North Carolina at Chapel Hill that aims to foster collaborative and meaningful engagement between scholars that are using digital methods to study the American South.
            We are working to identify scholars across Carolina that are doing this work and shed light on their innovative projects.

        </p>

    </article>
    <div class="divider col s6 offset-s3" style="margin-top: 2em; margin-bottom: 2em;"></div>

    <article class='section col s10 offset-s1'>
        <h3 class='col s7 header orange-text' style="width: fit-content;">
            What will I find on this website?
        </h3>
        <p class='flow-text light col s12'>
            The goal of the Digital South website is to initiate dialogue by highlighting scholars and their projects, so others may reach out to them to learn more about their work. As many of these projects use materials from Wilson Library’s Special Collections,
            the site also highlights selected collections that have been integral to Digital South scholars. Navigate the site by accessing the Scholars, Projects, or Special Collections links, then browse or filter through the featured entries as you
            wish or explore the breadth of pedagogical and research projects taking place across the Carolina campus.
        </p>
    </article>
</div>