<div class="row">
    <article class='section col s10 offset-s1'>
        <h3 class='header orange-text'>
            What is the Digital South?
        </h3>
        <p class='flow-text light'>
            The Digital South is a virtual space and a community fostered by the University Libraries at the University of North Carolina at Chapel Hill to advance collaborative and meaningful engagement among scholars that are using digital tools and methods to
            study the American South. It is a collaboration with the College of Arts and Sciences as part of the <a href="https://southernfutures.unc.edu/">Southern Futures</a> initiative.
        </p>

    </article>
    <div class="divider col s6 offset-s3" style="margin-top: 2em; margin-bottom: 2em;"></div>

    <article class='section col s10 offset-s1'>
        <h3 class='col s7 header orange-text' style="width: fit-content;">
            What will I find on this website?
        </h3>
        <p class='flow-text light col s12'>
            The goal of the Digital South website is to elevate and promote teaching and scholarship based at the University of North Carolina at Chapel Hill created using digital tools and methods with a focus on highlighting scholars and their projects. As many
            of these projects use materials from <a href="https://library.unc.edu/wilson/">Wilson Special Collections Library</a>, the site also highlights selected collections that have been integral to Digital South scholars. Navigate the
            site by accessing the Scholars, Projects, or Special Collections links, then browse or filter through the featured entries as you wish or explore the breadth of pedagogical and research projects taking place across the Carolina campus.
        </p>
    </article>
</div>