<div class='section'>
    <h3 class='header'>
        ABOUT THE FEATURED SCHOLARS
    </H3>
    <p class='flow-text light'>
        This page is a directory for current UNC scholars researching the American South utilizing various digital methodologies. Scholars come from a myriad of departments across campus and have different approaches and questions, but ultimately they are all
        interested in advancing our understanding of the South through digital methods.
    </p>


    <p class='flow-text light'>
        We will highlight a scholar every couple of days as a way to introduce them individually. Keep an eye out for our first post!
    </p>
</div>
<div class="divider"></div>
<div class='section row'>


    <!-- Gallery Filter !-->
    <div class="col offset-s9 s3">
        <label>Filter {{ page.title }}</label>
        <select class="browser-default" id="scholar-filter">
                <option class="option" value="all">All Departments</option>
            {% assign departments = site.scholars | map: 'department' | join: ',' | split: ',' | uniq %} {% for dep in departments %}
                <option class="option" value="{{ dep }}"> {{ dep }} </option>
            {% endfor %}
        </select>
    </div>


    <!-- Gallery Cards !-->
    <div class="col s12" style="margin-bottom: 3em;"></div>
    {% for scholar in site.scholars %}
    <div class="col s12 m6 l4 gallery-card scale-transition" value="{{ scholar.department }}">
        <div class="card small blue darken-3 hoverable">
            <div class="card-content white-text">
                <span class="card-title"> {{ scholar.name }}</span>
                <p class="show-on-medium-and-up"> {{ scholar.department }}</p>
            </div>
            <div class='card-action'>
                <a href="{{ scholar.url | relative_url }}"> Learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>