<div class='section'>
    <h2 class='header'>
        About the Featured Collections
    </h2>
    <p class='flow-text light'>
        The Louis Round Wilson Library houses the special collections at University of North Carolina at Chapel Hill. It houses five key collections: the North Carolina Collection, the Rare Book Collection, the Southern Folklife Collection, the Southern Historical
        Collection, and the University Archives and Records Management Services. The documents within these collections are available for research and for use in the classroom as teaching and learning tools. Additionally, many of these collections have
        been fully digitized or are undergoing the digitization process. A list of fully digitized collections can be found here alongside some notable digital exhibits hosted by Wilson.

    </p>


    <p class='flow-text light'>
        We have included this Special Collections page because many of the spotlighted digital projects use documents from these collections for their research or pedagogical projects. Whether as teaching tools or as data, the immense trove of documents and potential
        resources on the American South and the peoples who live(d) within should be highlighted alongside the projects and scholars. Below are featured collections that are either completely or partially digitized. We have also included collections that
        haven’t been used but may serve as inspiration for future digital research on the South!
    </p>

</div>


<div class='section row'>
    {% for col in site.spcollections %}
    <div class="col s4 m4 l4">
        <div class="card medium blue darken-3 hoverable">
            <div class="card-image">
                <img src="{{ col.img | relative_url }}">
            </div>
            <div class="card-content white-text">
                <span class="card-title"> {{ col.title }}</span>
            </div>
            <div class='card-action'>
                <a href="{{ col.url | relative_url }}"> Learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>