.feature-container {
    margin: 0px;
    height: 30vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    div {
        position: absolute;
        top: 45%;
        left: 50%;
        color: white;
        width: 70vw;
        transform: translate(-50%, -50%);
    }
    h1 {
        width: 75vw;
        font-weight: 400;
        padding: 0.3em 0.1em;
        letter-spacing: 5px;
    }
}

h2.blog_header_text {
    @extend .header_text !optional;
    text-decoration: underline solid color("orange", "accent-2");
    margin: 0.5em auto 0.1em auto;
}

.blog_header {
    text-align: center;
}

a:hover {
    color: color("orange", "accent-2");
}

*::selection {
    background-color: #7AAA46;
    color: white;
}

.event-card-date {
    position: absolute;
    top: 15px;
    left: 15px;
    background: black;
    padding: 0.5em;
    color: white;
}

.event-card-type {
    position: absolute;
    top: -1em;
    right: 0.1em;
    padding: 0em;
    margin: 0;
    fill: black;
}

.project-card-type {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    background: #7AAA46;
    padding: 0.5em;
    color: white;
    margin: 0;
}

.feature-text {
    border: 8px solid white;
    width: fit-content;
    $i: 0;
    @while $i <=$intervals {
        @media only screen and (min-width: 360 + ($i * $interval-size)) {
            font-size: 1.8rem * (1 + (.07 * $i));
        }
        $i: $i+1;
    }
    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
        font-size: 1.2rem;
    }
}

.green-text-custom {
    color: #7AAA46;
}

.green-bg-custom {
    background-color: #7AAA46;
}

.object-fig {
    position: relative;
    display: block;
    float: right;
    margin: 0em 4em 0 1em;
    padding: 0 0.5em 0 1em;
    max-height: 400px;
    max-width: 400px;
    overflow: hidden;
    p {
        text-align: center;
        position: absolute;
        z-index: 10;
        bottom: -12px;
        left: 1.3em;
        max-width: 400px;
        background: #467aaa;
        color: white;
        overflow-wrap: break-word;
        font-size: 12px;
        line-height: 1;
        padding: 5px;
    }
    img {
        position: relative;
        object-fit: cover;
        object-position: 30%;
        width: 400px;
    }
}