.feature-container {
    margin: 0px;
    height: 30vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        width: fit-content;
        transform: translate(-50%, -50%);
    }
    h1 {
        width: 75vw;
        font-size: 4.5em;
        font-weight: 400;
        border: 8px solid white;
        padding: 0.3em 0.3em;
        letter-spacing: 5px;
    }
}

h2.header {
    padding: 0;
    color: #467aaa;
    width: fit-content;
    font-weight: 400;
}