---
layout: default
---
<div class="row" aria-text="project information">
<h2 class="col s12 m12 header" style="width: fit-content"> {{ page.title }} </h2>
<h3 class="col s12 m12"> {{ page.main_scholar }} {% if page.other_scholars_involved%} & {{ page.other_scholars_involved}} {% endif %} </h3>
<div class="col s12 divider"></div>
<div class="section col s12">
<h4 class="header">DESCRIPTIION:</h4>
<blockquote class='flow-text'> {{ page.description }} </blockquote>
</div>
</div>